aiodns==3.2.0
aiofiles==23.2.1
aiogram==3.10.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
attrs==23.2.0
certifi==2024.7.4
cffi==1.17.1
dnspython @ git+https://github.com/rthalley/dnspython.git@6a22e73578348cde664b487fd4355623c6dd7e3a
frozenlist==1.4.1
idna==3.7
labelImg==1.8.6
lxml==5.3.0
magic-filter==1.0.12
multidict==6.0.5
pycares==4.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
typing_extensions==4.12.2
yarl==1.9.4
